
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

#page1 {
    height: 100%;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(179, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(127, 255, 153);
    display: flex;
    align-items: center;
    justify-content: center;

}

#box {
    height: 200px;
    width: 200px;
    background-color: red;
}

h1 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: red;
    padding: 10px;
}

h2 {
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(207, 241, 13);
    padding: 10px;
}